<h2 mat-dialog-title>{{ data?.user ? 'Editar Paciente' : 'Adicionar Paciente' }}</h2>
<mat-dialog-content>
	<form [formGroup]="userForm" autocomplete="off" id="form" (ngSubmit)="submit()">
		<app-input label="Nome" controlName="name" />
		<app-input label="Usuário" controlName="username" />
		<ng-container *ngIf="!data?.user">
			<app-input label="Senha" controlName="password" type="password" />
			<app-input label="Repita a senha" controlName="passwordConf" type="password" />
		</ng-container>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancelar</button>
	<button mat-flat-button [appButtonLoading]="loading$ | ngrxPush" color="primary" form="form" [disabled]="userForm.invalid">
		{{ data?.user ? 'Editar' : 'Adicionar' }}
	</button>
</mat-dialog-actions>
