<h2 mat-dialog-title>{{ textProvider.deleteDialog.title }} {{ data.entityName }}</h2>
<mat-dialog-content>
	<p i18n>Tem certeza de que deseja deletar {{ data.entityName ? ' ' + data.entityName : '' }}{{ data.entityValue ? ' ' + data.entityValue : '' }}?</p>
	<ng-container *ngIf="data.irreversible">
		<p i18n>Lembre-se que o processo é <strong>irreversível</strong>.</p>
	</ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close [disabled]="loading$ | push">{{ textProvider.buttons.cancel }}</button>
	<button mat-raised-button [appButtonLoading]="loading$ | push" color="warn" (click)="confirm()">
		{{ textProvider.buttons.delete }}
	</button>
</mat-dialog-actions>
