<h2 mat-dialog-title>{{ data?.patient ? 'Editar Paciente' : 'Adicionar Paciente' }}</h2>
<mat-dialog-content>
	<form [formGroup]="patientForm" autocomplete="off" id="form">
		<div class="row">
			<div class="col">
				<mat-form-field>
					<mat-label>Nome Completo</mat-label>
					<input matInput formControlName="name" maxlength="40">
				</mat-form-field>
			</div>
			<div class="col">
				<mat-form-field>
					<mat-label>Data de nascimento</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="birthday">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field>
					<mat-label>RG</mat-label>
					<input matInput formControlName="rg" appMask="rg">
				</mat-form-field>
			</div>
			<div class="col">
				<mat-form-field>
					<mat-label>CPF</mat-label>
					<input matInput formControlName="cpf" appMask="cpf">
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-12" formArrayName="phones">
				<h3>Telefones:</h3>
				<div *ngFor="let phones of phonesControl.controls; let i = index;">
					<mat-form-field>
						<mat-label>Telefone {{ i + 1 }}</mat-label>
						<input matInput [formControlName]="i" appMask="phone">
						<button *ngIf="phonesControl.controls.length > 1" type="button" mat-icon-button matSuffix
							(click)="removePhone(i)">
							<mat-icon>remove</mat-icon>
						</button>
						<button *ngIf="phonesControl.controls.length < 5" type="button" mat-icon-button matSuffix
							(click)="addPhone()">
							<mat-icon>add</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button type="button" mat-dialog-close>Cancelar</button>
	<button mat-flat-button color="primary" form="form" [disabled]="patientForm.invalid || (loading$ | async)" (click)="submit()">
		{{ data?.patient ? 'Editar' : 'Adicionar' }}
		<mat-icon *ngIf="loading$ | async"><mat-spinner color="primary" diameter="18"></mat-spinner></mat-icon>
	</button>
</mat-dialog-actions>
