<mat-toolbar color="primary">
	<button mat-fab color="primary" class="me-2" (click)="toggleSidenav()" *ngIf="navService.showSidenavToggle$ | async">
		<mat-icon class="material-icons">
			menu
		</mat-icon>
	</button>
	<span>Sistema Clinicas</span>
	<button mat-flat-button color="primary" [routerLink]="['.', 'clinicas']" routerLinkActive="selected">
		Clínicas
	</button>
	<span class="spacer"></span>
	<button mat-fab color="primary" (click)="toggleLightMode()">
		<mat-icon>
			{{ (themeService.isDarkTheme$ | async) ? 'light_mode' : 'dark_mode'}}
		</mat-icon>
	</button>
	<button mat-fab color="primary">
		<mat-icon>
			settings
		</mat-icon>
	</button>
	<button mat-fab color="primary" (click)="logout()">
		<mat-icon>
			exit_to_app
		</mat-icon>
	</button>
</mat-toolbar>
