.spacer {
	flex: 1 1 auto;
}

mat-toolbar {
	button {
		height: 100%;
		border-radius: 0px;
		box-shadow: none !important;

		&.selected {
			background: rgba(0, 0, 0, 0.2) !important;
		}

		::ng-deep .mat-mdc-button-persistent-ripple::before {
			border-radius: 0px !important;
		}
	}

	> span {
		margin-right: 16px;
	}
}
