<mat-toolbar color="primary">
	<button mat-fab color="primary" class="me-2" (click)="toggleSidenav()" *ngIf="navService.showSidenavToggle$ | ngrxPush">
		<mat-icon>
			{{ (sideNavOpen$ | ngrxPush) ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}
		</mat-icon>
	</button>
	<span>Sistema Clinicas</span>

	<ng-container *ngIf="(showDropdownMenu$ | ngrxPush) === false">
		<button mat-flat-button color="primary" *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="selected">
			{{ item.label }}
		</button>
	</ng-container>

	<span class="spacer"></span>

	<ng-container *ngIf="(showDropdownMenu$ | ngrxPush) === false">
		<button mat-fab color="primary" (click)="toggleLightMode()">
			<mat-icon>
				{{ (themeService.isDarkTheme$ | ngrxPush) ? 'light_mode' : 'dark_mode'}}
			</mat-icon>
		</button>
		<button mat-fab color="primary">
			<mat-icon>
				settings
			</mat-icon>
		</button>
		<button mat-fab color="primary" (click)="logout()">
			<mat-icon>
				exit_to_app
			</mat-icon>
		</button>
	</ng-container>

	<ng-container *ngIf="showDropdownMenu$ | ngrxPush">
		<button mat-fab color="primary" [matMenuTriggerFor]="menu">
			<mat-icon>
				menu
			</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="selected">
				{{ item.label }}
			</button>
			<mat-divider />
			<div class="button-group">
				<button mat-menu-item (click)="toggleLightMode()">
					<mat-icon>
						{{ (themeService.isDarkTheme$ | ngrxPush) ? 'light_mode' : 'dark_mode'}}
					</mat-icon>
				</button>
				<button mat-menu-item>
					<mat-icon>
						settings
					</mat-icon>
				</button>
				<button mat-menu-item (click)="logout()">
					<mat-icon>
						exit_to_app
					</mat-icon>
				</button>
			</div>
		</mat-menu>
	</ng-container>

</mat-toolbar>
