.spacer {
	flex: 1 1 auto;
}

.selected {
	background: rgba(0, 0, 0, 0.2) !important;
}

mat-toolbar {
	button {
		height: 100%;
		border-radius: 0px;
		box-shadow: none !important;

		::ng-deep .mat-mdc-button-persistent-ripple::before {
			border-radius: 0px !important;
		}
	}

	> span {
		margin-right: 16px;
	}
}

mat-divider {
	margin: 8px 8px;
}

.button-group {
	display: flex;

	mat-icon {
		margin: 0px !important;
	}
}
