<app-page-header title="Adicionar Clínicas" [hideHr]="true" />
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			<mat-icon>
				add_circle
			</mat-icon>
			Adicionar Clínica
		</mat-panel-title>
	</mat-expansion-panel-header>
	<form [formGroup]="clinicForm" (ngSubmit)="submit()">
		<app-input label="Nome" controlName="name" />
		<button mat-flat-button [appButtonLoading]="loading$ | ngrxPush" color="primary" [disabled]="clinicForm.invalid">Adicionar
		</button>
	</form>
</mat-expansion-panel>
