<mat-form-field class="mb-1">
	<mat-label>{{ label }}</mat-label>
	<input
		matInput
		[formControlName]="controlName"
		[maxlength]="maxLength"
		[type]="type === 'password' && !hidePass ? 'text' : type"
		[autocomplete]="autocomplete"
		[appMask]="mask">

	<button mat-icon-button matSuffix *ngIf="type === 'password'" type="button" tabindex="-1" (click)="togglePass()">
		<mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
	</button>

	<mat-error *ngIf="currentErrorMsg">
		{{ currentErrorMsg }}
	</mat-error>
</mat-form-field>
