<div class="mb-2">
	<!-- Text -->
	<mat-form-field *ngIf="type === 'text'">
		<mat-label>{{ label }}</mat-label>
		<input
			*ngIf="!mask"
			matInput
			type="text"
			[formControlName]="controlName"
			[maxlength]="maxLength"
			[autocomplete]="autocomplete">

			<input
			*ngIf="mask"
			matInput
			type="text"
			[formControlName]="controlName"
			[maxlength]="maxLength"
			[autocomplete]="autocomplete"
			[appMask]="mask">

		<mat-hint *ngIf="hint">
			{{ hint }}
		</mat-hint>
		<mat-error *ngIf="currentErrorMsg">
			{{ currentErrorMsg }}
		</mat-error>
	</mat-form-field>

	<!-- Password -->
	<mat-form-field *ngIf="type === 'password'">
		<mat-label>{{ label }}</mat-label>
		<input
			matInput
			[formControlName]="controlName"
			[maxlength]="maxLength"
			[type]="!hidePass ? 'text' : 'password'"
			[autocomplete]="autocomplete">

		<button mat-icon-button matSuffix type="button" tabindex="-1" (click)="togglePass()">
			<mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
		</button>

		<mat-hint *ngIf="hint">
			{{ hint }}
		</mat-hint>
		<mat-error *ngIf="currentErrorMsg">
			{{ currentErrorMsg }}
		</mat-error>
	</mat-form-field>

	<!-- Date -->
	<mat-form-field *ngIf="type === 'date'">
		<mat-label>{{ label }}</mat-label>
		<input matInput [matDatepicker]="picker" [formControlName]="controlName" appMask="date">
		<mat-datepicker-toggle matSuffix [for]="picker" tabindex="-1"/>
		<mat-datepicker #picker />

		<mat-hint *ngIf="hint">
			{{ 'hint' }}
		</mat-hint>
		<mat-error *ngIf="currentErrorMsg">
			{{ currentErrorMsg }}
		</mat-error>
	</mat-form-field>

	<!-- Select -->
	<mat-form-field *ngIf="type === 'select'">
		<mat-label>{{ label }}</mat-label>
		<mat-select [formControlName]="controlName">
			<mat-option *ngFor="let option of _options" [value]="option.value">{{ option.label }}</mat-option>
		</mat-select>

		<mat-hint *ngIf="hint">
			{{ hint }}
		</mat-hint>
	</mat-form-field>

	<!-- Currency -->
	<mat-form-field *ngIf="type === 'currency'">
		<mat-label>{{ label }}</mat-label>
		<input
			matInput
			[formControlName]="controlName"
			type="text"
			appCurrencyMask>

		<mat-hint *ngIf="hint">
			{{ hint }}
		</mat-hint>
		<mat-error *ngIf="currentErrorMsg">
			{{ currentErrorMsg }}
		</mat-error>
	</mat-form-field>
</div>
