<app-page-header [hideHr]="true" title="Configuração"></app-page-header>

<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>
					settings
				</mat-icon>
				Configuração Geral da Clínica
			</mat-panel-title>
		</mat-expansion-panel-header>

		<form [formGroup]="clinciDataForm" (ngSubmit)="updateClinic()">
			<div class="row">
				<div class="col-12">
					<app-input label="Name" controlName="name"></app-input>
				</div>
			</div>
			<div class="row" formGroupName="address">
				<div class="col-md-12 col-xl-6">
					<app-input label="Endereço" controlName="street"></app-input>
				</div>
				<div class="col-md-4 col-xl-2">
					<app-input label="Cidade" controlName="city"></app-input>
				</div>
				<div class="col-md-4 col-xl-2">
					<app-input label="UF" type="select" [options]="ufs" controlName="uf"></app-input>
				</div>
				<div class="col-md-4 col-xl-2">
					<app-input label="CEP" controlName="cep" mask="cep"></app-input>
				</div>
			</div>
			<div class="row" formGroupName="company">
				<div class="col">
					<app-input label="Razão Social" controlName="name"></app-input>
				</div>
				<div class="col">
					<app-input label="CNPJ" controlName="cnpj" mask="cnpj"></app-input>
				</div>
			</div>
			<button mat-flat-button [appButtonLoading]="loading$ | async" color="primary" [disabled]="clinciDataForm.invalid">
				Salvar
			</button>
		</form>

	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>
					person
				</mat-icon>
				Ajuste dos usuários
			</mat-panel-title>
		</mat-expansion-panel-header>

		<app-user></app-user>

	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>
					warning
				</mat-icon>
				Área de perigo!
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="box d-flex justify-content-between align-items-center">
			<div>
				<p class="title">Deletar clínica</p>
				<p>O processo é irreversível. Assim que deletar sua clínica você não terá mais acesso nenhum a ela.</p>
			</div>
			<div>
				<button mat-flat-button color="warn" (click)="deleteClinic()">Deletar</button>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>


