<app-page-header [hideHr]="true" [title]="textProvider.configs.title" />

<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>
					settings
				</mat-icon>
				{{ textProvider.configs.subTitle1 }}
			</mat-panel-title>
		</mat-expansion-panel-header>

		<form [formGroup]="clinciDataForm" (ngSubmit)="updateClinic()">
			<div class="row">
				<div class="col-12">
					<app-input [label]="textProvider.configs.inputClinicName" controlName="name" />
				</div>
			</div>
			<div class="row" formGroupName="address">
				<div class="col-md-12 col-xl-6">
					<app-input [label]="textProvider.configs.inputAddress" controlName="street" />
				</div>
				<div class="col-md-4 col-xl-2">
					<app-input [label]="textProvider.configs.inputCity" controlName="city" />
				</div>
				<div class="col-md-4 col-xl-2">
					<app-input [label]="textProvider.configs.inputUF" type="select" [options]="ufs" controlName="uf" />
				</div>
				<div class="col-md-4 col-xl-2">
					<app-input [label]="textProvider.configs.inputCEP" controlName="cep" mask="cep" />
				</div>
			</div>
			<div class="row" formGroupName="company">
				<div class="col">
					<app-input [label]="textProvider.configs.inputCompanyName" controlName="name" />
				</div>
				<div class="col">
					<app-input [label]="textProvider.configs.inputCNPJ" controlName="cnpj" mask="cnpj" />
				</div>
			</div>
			<button mat-flat-button [appButtonLoading]="loading$ | ngrxPush" color="primary" [disabled]="clinciDataForm.invalid">
				{{ textProvider.buttons.save }}
			</button>
		</form>

	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>
					person
				</mat-icon>
				{{ textProvider.configs.subTitle2 }}
			</mat-panel-title>
		</mat-expansion-panel-header>

		<app-user />

	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>
					warning
				</mat-icon>
				{{ textProvider.configs.subTitle3 }}
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="box d-flex justify-content-between align-items-center">
			<div>
				<p class="title">{{ textProvider.configs.deleteClinic }}</p>
				<p>{{ textProvider.configs.deleteDesc }}</p>
			</div>
			<div>
				<button mat-flat-button color="warn" (click)="deleteClinic()">{{ textProvider.buttons.delete }}</button>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>


