<div class="mx-3">
	<app-new-clinic />
	<app-page-header [title]="textProvider.clinicsPage.title" />
</div>

<div class="container-fluid">
	<ng-container *ngIf="{ clinics: getClinics$ | push } as data">
		<div class="row">
			<ng-container *ngIf="data.clinics; else loading">
				<div *ngFor="let clinic of data.clinics" class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<mat-card>
						<mat-card-header>
							<mat-card-title class="d-flex justify-content-between align-items-center">
									{{clinic.name}}
								<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu" xPosition="before">
									<button mat-menu-item [routerLink]="['../', 'clinica', clinic._id]">{{ textProvider.clinicsPage.access }}</button>
									<button mat-menu-item [routerLink]="['../', 'clinica', clinic._id, 'configuracao']">{{ textProvider.clinicsPage.configs }}</button>
								</mat-menu>
							</mat-card-title>
						</mat-card-header>

						<mat-card-content class="dashboard-card-content">
							<div>...</div>
						</mat-card-content>
					</mat-card>
				</div>
			</ng-container>
			<ng-template #loading>
				<div class="d-flex justify-content-center mt-5">
					<mat-spinner />
				</div>
			</ng-template>
		</div>
	</ng-container>
</div>
