<form [formGroup]="findPatientsForm" autocomplete="off">
	<div class="row">
		<div class="col">
			<mat-form-field>
				<mat-label>Nome</mat-label>
				<input matInput formControlName="name" maxlength="40">
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>Data de nascimento</mat-label>
				<input matInput [matDatepicker]="picker2" formControlName="birthday">
				<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
				<mat-datepicker #picker2></mat-datepicker>
			</mat-form-field>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<mat-form-field>
				<mat-label>RG</mat-label>
				<input matInput appMask="rg" formControlName="rg">
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>CPF</mat-label>
				<input matInput appMask="cpf" formControlName="cpf">
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>Ficha</mat-label>
				<input matInput formControlName="card">
			</mat-form-field>
		</div>
	</div>
	<button type="button" mat-flat-button color="accent" class="mb-3" (click)="clearForm()">Limpar</button>
</form>

<div class="d-flex justify-content-center my-3" *ngIf="loading$ |async">
	<mat-spinner></mat-spinner>
</div>

<div class="mat-elevation-z8" [hidden]="loading$ | async">
	<table mat-table [dataSource]="patients$" multiTemplateDataRows>
		<ng-container matColumnDef="card">
			<th mat-header-cell *matHeaderCellDef> Ficha </th>
			<td mat-cell *matCellDef="let patient"> {{ patient.card }} </td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Nome </th>
			<td mat-cell *matCellDef="let patient"> {{ patient.name }} </td>
		</ng-container>

		<ng-container matColumnDef="rg">
			<th mat-header-cell *matHeaderCellDef> RG </th>
			<td mat-cell *matCellDef="let patient"> {{ patient.rg | rg | orDash }} </td>
		</ng-container>

		<ng-container matColumnDef="cpf">
			<th mat-header-cell *matHeaderCellDef> CPF </th>
			<td mat-cell *matCellDef="let patient"> {{ patient.cpf | cpf | orDash }} </td>
		</ng-container>

		<ng-container matColumnDef="birthday">
			<th mat-header-cell *matHeaderCellDef> Data nasc. </th>
			<td mat-cell *matCellDef="let patient"> {{ (patient.birthday | date) | orDash }} </td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef> Ações </th>
			<td mat-cell *matCellDef="let patient">
				<button mat-icon-button type="button" color="accent" (click)="$event.stopPropagation(); updatePatient(patient)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button type="button" color="warn" (click)="$event.stopPropagation(); deletePatient(patient)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="expand">
			<th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
			<td mat-cell *matCellDef="let patient">
				<button mat-icon-button aria-label="expand row" (click)="(expandedPatient = expandedPatient === patient ? null : patient); $event.stopPropagation()">
					<mat-icon *ngIf="expandedPatient !== patient">keyboard_arrow_down</mat-icon>
					<mat-icon *ngIf="expandedPatient === patient">keyboard_arrow_up</mat-icon>
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let patient" [attr.colspan]="columnsToDisplayWithExpand.length">
				<div [@detailExpand]="patient === expandedPatient ? 'expanded' : 'collapsed'">
					Telefones:
					<div class="row">
						<div class="col-3" *ngFor="let phone of patient.phones">
							<p>{{ phone | phone }}</p>
						</div>
					</div>
						<div class="row">
							<div class="col-3">
								<p>Criado em: {{ patient.createdAt | date }}</p>
							</div>
							<div class="col-3">
								<p>Ultima alteração em: {{ patient.updatedAt | date }}</p>
							</div>
						</div>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
		<tr mat-row *matRowDef="let patient; columns: columnsToDisplayWithExpand;"
				class="table-row"
				[class.expanded-row]="expandedPatient === patient"
				(click)="expandedPatient = expandedPatient === patient ? null : patient">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" [attr.colspan]="columnsToDisplay.length">
				Nenhum paciente cadastrado
			</td>
		</tr>
	</table>

	<mat-paginator></mat-paginator>
</div>

