@use "@angular/material" as mat;
@use "styles-component-themes" as styles-component-themes;

@include mat.core();

$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette(mat.$purple-palette),
			accent: mat.define-palette(mat.$green-palette)
		),
		typography:
			mat.define-typography-config(
				$font-family: Roboto
			)
	)
);

$light-theme: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette(mat.$indigo-palette),
			accent: mat.define-palette(mat.$pink-palette)
		),
		typography:
			mat.define-typography-config(
				$font-family: Roboto
			)
	)
);

@include mat.all-component-themes($light-theme);
@include styles-component-themes.themes($light-theme);

.color-scheme-dark {
	@include mat.all-component-colors($dark-theme);
	@include styles-component-themes.themes($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100svh;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Meus

mat-form-field,
table.mat-table {
	width: 100%;
}

.container-fluid {
	width: auto !important;
	// padding: 25px !important;
}

// Pra colocar icones nos titulos
mat-panel-title {
	align-items: center;

	mat-icon:first-of-type {
		padding-right: 8px;
	}
}

// Pra resolver o problema de padding do dialog
.mat-mdc-dialog-content {
	padding-top: 8px !important;
}

// Tabela
.mat-mdc-table {
	tr.detail-row {
		height: 0;
	}

	tr.table-row:hover {
		cursor: pointer;
		background: rgba($color: #000000, $alpha: 0.07);
	}

	tr.table-row:not(.expanded-row):active {
		background: rgba($color: #000000, $alpha: 0.15);
	}

	.table-row td {
		border-bottom-width: 0;
	}

	.expanded-detail {
		overflow: hidden;
	}

	.mat-mdc-no-data-row td {
		padding: 8px;
		text-align: center;
	}
}

// Custom snackbar
.snackbar {
	$text-color: whitesmoke;

	position: relative !important;
	top: 68px;
	right: 24px;

	&.success > :first-child {
		background: #48b04b !important;

		> :first-child {
			color: $text-color;
		}
	}

	&.error > :first-child {
		background: #f7412d !important;

		> :first-child {
			color: $text-color;
		}
	}
}
