@use "@angular/material" as mat;
@use "styles-component-themes" as styles-component-themes;

@include mat.core();

$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette(mat.$purple-palette),
			accent: mat.define-palette(mat.$green-palette)
		),
		typography:
			mat.define-typography-config(
				$font-family: Roboto
			)
	)
);

$light-theme: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette(mat.$indigo-palette),
			accent: mat.define-palette(mat.$pink-palette)
		),
		typography:
			mat.define-typography-config(
				$font-family: Roboto
			)
	)
);

@include mat.all-component-themes($light-theme);
@include styles-component-themes.themes($light-theme);

:is(.main-div, .cdk-overlay-container).dark-theme {
	@include mat.all-component-colors($dark-theme);
	@include styles-component-themes.themes($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
	min-height: 100vh;
}

app-root {
	display: grid;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Meus

mat-form-field,
table.mat-table {
	width: 100%;
}

.container-fluid {
	width: auto !important;
	padding: 25px !important;
}

// Pra colocar icones nos titulos
mat-panel-title {
	align-items: center;

	span:first-of-type {
		padding-right: 8px;
	}
}

// Pra resolver a cor do background do autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffffff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px rgba($color: #000000, $alpha: 0);
}

// Pra resolver o problema de padding do dialog
.mat-mdc-dialog-content {
	padding-top: 8px !important;
}

// Tabela
.mat-mdc-table {
	tr.detail-row {
		height: 0;
	}

	tr.table-row:hover {
		cursor: pointer;
		background: rgba($color: #000000, $alpha: 0.07);
	}

	tr.table-row:not(.expanded-row):active {
		background: rgba($color: #000000, $alpha: 0.15);
	}

	.table-row td {
		border-bottom-width: 0;
	}

	.expanded-detail {
		overflow: hidden;
		//display: flex;
	}
}
