@use "@angular/material" as mat;
@use "styles-component-themes" as styles-component-themes;

@include mat.core();

$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette(mat.$purple-palette),
			accent: mat.define-palette(mat.$green-palette)
		),
		typography:
			mat.define-typography-config(
				$font-family: Roboto
			)
	)
);

$light-theme: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette(mat.$indigo-palette),
			accent: mat.define-palette(mat.$pink-palette)
		),
		typography:
			mat.define-typography-config(
				$font-family: Roboto
			)
	)
);

@include mat.all-component-themes($light-theme);
@include styles-component-themes.themes($light-theme);

:is(.main-div, .cdk-overlay-container).dark-theme {
	@include mat.all-component-colors($dark-theme);
	@include styles-component-themes.themes($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
	min-height: 100vh;
}

app-root {
	display: grid;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Meus

mat-form-field,
table.mat-table {
	width: 100%;
}

.container-fluid {
	width: auto !important;
	padding: 25px !important;
}

mat-panel-title {
	align-items: center;

	span:first-of-type {
		padding-right: 8px;
	}
}
