@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
	:host {
		$color-config: mat.get-color-config($theme);
		$primary-palette: map.get($color-config, 'primary');

		.mat-list-item.active {
			background-color: mat.get-color-from-palette($primary-palette, 300);
		}

		&:hover > .mat-list-item {
			background-color: mat.get-color-from-palette($primary-palette, 400);
		}
	}
}

@mixin theme($theme) {
	$color-config: mat.get-color-config($theme);
	@if $color-config != null {
		@include color($theme);
	}
}
