<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
	[class.expanded]="expanded$ | push" [routerLink]="item.route ? item.route : null" routerLinkActive="active">

	<mat-icon fontSet="material-symbols-outlined" matListItemIcon>
		{{item.iconName}}
	</mat-icon>

	<span>{{ item.displayName }}</span>

	<mat-icon fontIcon="expand_more" *ngIf="item.children && item.children.length" [@indicatorRotate]="(expanded$ | push) ? 'expanded': 'collapsed'" />
</a>
<div [hidden]="(expanded$ | push) === false">
	<app-nav-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1" (expand)="onChildExpand()" />
</div>
