<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
	[class.expanded]="expandedObs$ | push" [routerLink]="item.route ? item.route : null" routerLinkActive="active">

	<mat-icon matListItemIcon>{{ item.iconName }}</mat-icon>
	<span matListItemTitle>{{ item.displayName }}</span>

	<span fxFlex *ngIf="item.children && item.children.length">
		<span fxFlex></span>
		<mat-icon [@indicatorRotate]="(expandedObs$ | push) ? 'expanded': 'collapsed'">
			expand_more
		</mat-icon>
	</span>
</a>
<div [hidden]="(expandedObs$ | push) === false">
	<app-nav-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1" (expand)="onChildExpand()" />
</div>
