<mat-sidenav-container class="side-nav" (backdropClick)="close()" [style.top]="(topGap$ | push) + 'px'">
	<mat-sidenav #sidenav [mode]="(mode$ | push) || 'side'" class="container-fluid" [opened]="opened$ | push">
		<h1>{{ clinic?.name }}</h1>
		<mat-nav-list>
			<app-nav-list-item *ngFor="let item of navItems" [item]="item" />
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="container-fluid">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
