<mat-sidenav-container class="side-nav" (backdropClick)="close()" [style.top]="(topGap$ | async) + 'px'">
	<mat-sidenav #sidenav [mode]="(mode$ | async) || 'side'" class="container-fluid" [opened]="opened$ | async">
		<h1>{{ clinic?.name }}</h1>
		<mat-nav-list>
			<app-nav-list-item *ngFor="let item of navItems" [item]="item"></app-nav-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="container-fluid">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
