<h2 mat-dialog-title>{{ textProvider.users.updatePass }}</h2>
<mat-dialog-content>
	<form [formGroup]="passForm" autocomplete="off" id="form" (ngSubmit)="submit()">
		<app-input [label]="textProvider.users.pass" controlName="password" type="password" />
		<app-input [label]="textProvider.users.repeatPass" controlName="passwordConf" type="password" />
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button type="button" mat-dialog-close>{{ textProvider.buttons.cancel }}</button>
	<button mat-flat-button [appButtonLoading]="loading$ | push" color="primary" form="form" [disabled]="passForm.invalid">
		{{ textProvider.buttons.edit }}
	</button>
</mat-dialog-actions>
